<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/25121aaa-c6ef-4c24-a95b-80bb1ebb6a6a/resourceGroups/lettucebrainwebapi/providers/Microsoft.Web/sites/lettucebrainwebapi</ResourceId>
    <ResourceGroup>lettucebrainwebapi</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lettucebrainwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lettucebrainwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lettucebrainwebapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lettucebrainwebapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:securitydbserver.database.windows.net,1433;Initial Catalog=SecurityDB;User ID=alexander;Password=@lerCor943#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WebAPI-Securety.mdf;Initial Catalog=WebAPI-Securety;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WebAPI-Securety.mdf;Initial Catalog=WebAPI-Securety;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LettuceConnStr" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:lettucebraindbserver.database.windows.net,1433;Initial Catalog=lettucebrainDB;User ID=alexander;Password=@lerCor943#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Alexander\source\repos\WebApiSocialNetLettucebrain_IoC_Identity\WebAPI.DAL\DataBase\App_Data\Socialnetwork_db.mdf;Initial Catalog=Socialnetwork_db;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LettuceConnStr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Alexander\source\repos\WebApiSocialNetLettucebrain_IoC_Identity\WebAPI.DAL\DataBase\App_Data\Socialnetwork_db.mdf;Initial Catalog=Socialnetwork_db;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LettuceConnStr-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lettucebraindbserver.database.windows.net,1433;Initial Catalog=lettucebrainDB;User ID=alexander;Password=@lerCor943#</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:securitydbserver.database.windows.net,1433;Initial Catalog=SecurityDB;User ID=alexander;Password=@lerCor943#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>